<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	// Latest compiled and minified CSS & JS 
	script(src='//code.jquery.com/jquery.js')
body
	
	h1 Learn Web Development 
	form.h.
		- weekly_time: How many hours do you learn web development per week?​
			radio
				Less than 5 hours
				More than 15 hours
		- learning_resources: How have you learned? Which resources do you use?​
			checkbox
				Youtube
				Other or specify
		- built_things: What have you built?​ Please share links if you have.
			textarea
		- email: Write your email here if you want to talk more about your needs

	script(src='dist/hacker_form.js')


	style
		:stylus
			label
				margin 0.5ex 0
				display inline-block